fastapi>=0.79.0,<0.80.0
pydantic>=1.10.0,<2.0.0
uvicorn>=0.18.0,<0.19.0       
cloudevents >=1.6.0, <1.7.0
logfmter >= 0.0.6
# aiomqtt
aiomqtt >= 0.13.0
httpx >= 0.2
python-ulid >= 1.1.0
pyyaml
# redis
# redis-om